body,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li,
    dl,
    dt,
    dd,
    img,
    form,
    fieldset,
    input,
    textarea,
    blockquote {
        margin: 0;
        padding: 0;
        border: 0;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 14px;
    }

    nav {
        margin: 0px auto;
        text-align: center;
    }

    nav ul ul {
        display: none;
    }

    nav ul li:hover>ul {
        display: block;
    }

    nav .main {
        padding: 24px 15px 0;
        list-style: none;
        position: fixed;
        display: flex;
        right: 0px;
        z-index: 100;
    }

    ul {
        list-style: none;
    }

    nav ul li:hover {
        background: #f4f4f4;
        border-radius: 5%;
    }

    nav ul li:hover a {
        color: rgb(0, 0, 0);
    }

    nav ul li a {
        display: block;
        padding: 5px 40px;
        color: rgb(56, 56, 56);
        text-decoration: none;
    }

    nav ul ul {
        background: rgb(232, 232, 232);
        padding: 0;
        position: absolute;
        top: 100%;
    }

    nav ul ul li {
        position: relative;
        border-top: 1px solid rgb(232, 232, 232);
        border-bottom: 1px solid rgb(232, 232, 232);
        text-align: left;
    }

    .main {
        position: block;
        float: right;
    }

    .logo {
        float: left;
        padding-left: 40px;
        padding-top: 5px;
        position: fixed;
        z-index: 100;
    }

    h1 {
        z-index: 100;
        margin-top: 25px;
        font-size: 40px;
        font-weight: 500;
    }

    .menu-active {
        font-weight: bold;
    }

    /* Pop-up Nav */
   .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
        z-index: 11;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 15px;
        text-decoration: none;
        font-size: 30px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        z-index: 12;
    }

    .openbtn {
        position: fixed;
        display: none;
        top: 30px;
        right: 58px;
        z-index: 10;
    }

    @media screen and (max-height: 450px) {
        .overlay {overflow-y: auto;}
        .overlay a {font-size: 20px}
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
    }

    
    


    /* HOME */
    /* sliding hero */
    .hero-container{
        max-width: 100%;
        margin: auto;
        z-index: 1;
        padding-top: 0px;
    }

    .dot-ctrl{
        position: relative;
        text-align: center;
        justify-content: center;
        bottom: 40px;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 5px;
        background-color: rgb(227, 227, 227);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: black;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }       

    .slide-container {
        position: relative;
        height: 650px;
        overflow: hidden;
        width: 100%;
        z-index: 0;
    }

    .mySlides img {
        position: absolute;
        width: 110%;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        min-width: 90%;
    }


    /* About Us Section */
    .about-title {
        padding-top: 30px;
    }
    .about-us {
        padding-top: 40px;
        padding-bottom: 80px;
        display: flex;
        align-items: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-pic {
        width: 400px;
    }

    .about-desc {
        margin-left: 90px;
        line-height: 1.5;
        font-size: 16px;
        padding-right: 40px;
    }



    /* SERVICES PAGE */
    .returntotop {
        position: fixed;
        bottom: 20px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 20px;
        color: dimgrey;
        right: 20px;
        z-index: 50;
    }
    .returntotop:hover{ 
        color: rgb(36, 36, 36);
    }
    
    h2 {
        text-align: center;
        padding-top: 140px;
        padding-bottom: 10px;
        font-size: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    section .fun, .wed, .polar {
        padding-bottom: 0px;
        padding-top: 10px;
        padding: 50px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    div.pic {
        margin: 15px;
        filter: saturate(0%);
    }

    div.pic:hover {
        filter: saturate(100%);
        transition: all 0.2s;
        transition-timing-function: ease-in-out;
    }

    div.pic img {
        width: 300px;
        border: 3px solid white;
    }


    /* SERVICE */
    /* pricing */
    .pricing {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }

    .pricing div {
        padding: 0 30px;
        width: 290px;
    }

    h3 {
        padding-bottom: 30px;
    }

    .fun-desc {
        padding-top: 6px;
    }

    .contact-button {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    
    .button {
        background-color: rgb(56, 56, 56);
        border: none;
        color: white;
        padding: 15px 70px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        cursor: pointer;
    }

    .button:hover {
        background-color: rgb(240, 240, 240);
        border: 0px solid rgb(56, 56, 56);
        color: rgb(56, 56, 56);
        box-shadow: 2px 1px 2px 0px rgb(56, 56, 56);
    }
    

    /* EVENTS PAGE */
    .events {
        display: flex;
        flex-wrap: wrap;
        padding-left: 50px; 
        padding-right: 50px;
        justify-content: center;
    }

    .events .event {
        padding: 50px;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    
    .event-title{
        padding-top: 10px;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: rgb(75, 75, 75)
    }

    .event-desc {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 200;
        padding-top: 10px;
        line-height: 1.2;
        font-size: 16px;
        color: rgb(85, 85, 85);
    }

    .ed {
        width: 50%;
    }

    .event {
        width: 300px;
        height: 250px;
    }

    .event img {
        width: 100%;
    }

    .event-button {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    
    .ebutton {
        background-color: rgb(56, 56, 56);
        border: none;
        color: white;
        padding: 15px 110px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        cursor: pointer;
    }

    .ebutton:hover {
        background-color: rgb(242, 242, 242);
        border: 0px solid rgb(56, 56, 56);
        color: rgb(56, 56, 56);
        box-shadow: 2px 1px 2px 0px rgb(56, 56, 56);
    }


    /* Event 1 Page */
    .event-pic {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        padding-top: 150px;
    }
    .event-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        font-size: 20px;
    }
    .event-desc {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* TEAM PAGE */
    /* Heaven Profile */
    .team-heaven {
        padding-top: 40px;
        padding-bottom: 80px;
        display: flex;
        align-items: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .heaven-pic {
        width: 400px;
        flex-wrap: wrap;
        display: flex;
    }

    .name {
        padding-bottom: 2px;
        font-size: 20px;
    }

    .title {
        padding-bottom: 10px;
        font-weight: 600;
    }

    .heaven-desc {
        margin-left: 90px;
        line-height: 1.5;
        font-size: 16px;
        padding-right: 40px;
    }

    /* Jade Profile */

    .team-jade {
        padding-top: 10px;
        padding-bottom: 80px;
        display: flex; 
        align-items: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .jade-pic {
        width: 400px;
    }

    .jade-desc {
        margin-left: 90px;
        line-height: 1.5;
        font-size: 16px;
        padding-right: 40px;
    }



    /* CONTACT PAGE */
    .contact-page {
        padding: 150px 50px 0 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #565656;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #e8e8e8;
        color: rgb(56, 56, 56);
    }

    .fill-name {
        width: 100%;
        display: flex;
    }

    #fname, #month, #day {
        margin-right: 10px;
    }

    .fill-date {
        width: 100%;
        display: flex;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .contact-info {
        padding: 80px 100px 0 100px;
    }

    .info {
        line-height: 1.5em;
    }

    .info1 {
        padding-bottom: 20px;
        font-weight: 600;
    }






    /* IPAD LAYOUT */
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        nav .main {
            display: none;
        }

        .openbtn {
            display: inherit;
        }

        .about-us {
            display: flex;
            flex-direction: column;
            margin-right: auto;
            margin-left: auto;
        }

        .about-desc {
            padding-top: 50px;
        }

         .team-heaven {
             display: flex;
             flex-direction: column;
         }

         .heaven-desc {
             padding-top: 50px;
             width: 100%;
         }

         .team-jade {
             display: flex;
             flex-direction: column;
         }

         .jade-desc {
             padding-top: 50px;
             width: 100%;
         }
       
    }

   
    /* MOBILE LAYOUT */
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        nav .main {
            display: none;
        }

        .openbtn {
            display: inherit;
        }

        .about-us {
            display: flex;
            flex-direction: column;
        }

        .about-desc {
            padding-top: 50px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    
        .fill-name {
            width: 100%;
            display: block;           
        }

        .fill-date {
            width: 100%;
            display: block;           
        }

        .team-heaven {
             display: flex;
             flex-direction: column;
             width: 100%;
         }

         .heaven-desc {
             padding-top: 50px;
         }

         .team-jade {
             display: flex;
             flex-direction: column;
         }

         .jade-desc {
             padding-top: 50px;
             width: 100%;
         }
        
    }




    /* TEAM PAGE */
    .team-container {
        display: flex;
        width: 100%;
    }
    .team-pic {
        width: 50%;
        height: 250px;
        margin: 80px;
    }
    
    .team-desc {
        
    }