$orange:#fdbb36;
$grey: #565656;
$font:Verdana, sans-serif;
.menu {
  background-color: $grey;
  padding: 10px;
}
h1 {
  color: $orange;
  text-align: center;
}
p {
  font-family: $font;
  justify-content: space-around;
  text-align: center;
}
.nav {
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    li {
        text-transform: uppercase;
    }
    a{
        color: white;
        text-decoration: none;
      &:hover {
        font-weight: bold;
        color: $orange;
      }
    }
}