* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


h1{
    color:lightskyblue;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.demo_button{
    background-color: none;
    border-radius: 25PX;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 119, 119);
    font-family: 'Ubuntu', sans-serif;
}

.demo_button:hover{
    background-color: lightskyblue;
    color: white;
}