    footer {
        height: 320px;
        background-color: #F1F1F1;
        display: flex;
        justify-content: space-evenly;
    }

    .f-logo {
        padding: 72px 0 0 0;
        margin: 0;

    }

    .footer-links {
        display: flex;
        padding-top: 72px;
        padding-right: 80px;
        text-align: left;
        list-style: none;
        line-height: 2em;
        width: 960px;
        align-content: center;
        justify-content: center;
        }

    .footer-links a {
        color: #565656;
        text-decoration: none;
        width: 900px;
    }

    .link-gta {
        padding: 0 64px 0 64px
    }

    .footer-social {
        padding-top: 72px;
        text-align: right;
        line-height: 2em;
        right: 40px;
    }

    .instagram-link {
        padding: 4px 12px 0px 12px;
    }
